node_modules/
dist/
coverage/
reports/
monitoring/alertmanager/alertmanager.yml
*.tar.gz
.env
.env.local
*.retry
.vault_pass
monitoring/data/

**/monitoring/alertmanager/alertmanager.yml
ressources/lab/runner/